<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528244548405-8upt8lv9sbv12m2ledkjlap432ngotga.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528244548405-8upt8lv9sbv12m2ledkjlap432ngotga</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>528244548405-l9d333ner07rk65c9f4jgjd7o29sq0bm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjg8iOs8pamHCM_iucAJRZUVDulL4XxIs</string>
	<key>GCM_SENDER_ID</key>
	<string>528244548405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.artcontemporaneo.app</string>
	<key>PROJECT_ID</key>
	<string>art-contemporaneo-265423</string>
	<key>STORAGE_BUCKET</key>
	<string>art-contemporaneo-265423.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528244548405:ios:86018ec8eba0451b86a27c</string>
	<key>DATABASE_URL</key>
	<string>https://art-contemporaneo-265423.firebaseio.com</string>
</dict>
</plist>